<div class="h-screen flex align-items-center justify-content-center">
  <div class="min-w-min lg:w-25rem p-4 bg-white border-round-xl shadow-5">
    <div class="flex justify-content-center">Educational Institution</div>
    <hr class="my-3" />
    <div class="flex flex-column align-content-between">
      <button
        pButton
        class="mb-2 justify-content-center"
        (click)="navigateToAdministrator()"
      >
        Administrador
      </button>
      <button
        pButton
        class="mb-2 justify-content-center"
        (click)="navigateToCoordinator()"
      >
        Coordenador
      </button>
      <button
        pButton
        class="mb-2 justify-content-center"
        (click)="navigateToTeacher()"
      >
        Professor
      </button>
      <button
        pButton
        class="justify-content-center"
        (click)="navigateToStudent()"
      >
        Aluno
      </button>
    </div>
  </div>
</div>
